// Margins
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}
.ml-0 {margin-left: 0 !important;}
.m-0 {margin: 0;}

.row.mb {margin-bottom: 20px;}

// Spacers
.spc-13 {margin-top: 1.3rem;}
.spc-8 {margin-top: .8rem;}
.spc-5 {margin-top: .5rem;}
.spc-3 {margin-top: .3rem;}
.spc-2 {margin-top: .2rem;}

// Fonts Sizes
.fs-2 {font-size: 2rem !important;}
.fs-17 {font-size: 1.7rem;}
.fs-15 {font-size: 1.5rem;}
.fs-13 {font-size: 1.3rem;}
.fs-12 {font-size: 1.2rem;}
.fs-11 {font-size: 1.1rem;}
.fs-9 {font-size: .9rem;}
.fs-8 {font-size: .8rem;}
.fs-7 {font-size: .7rem;}

.border-bottom {border-bottom: 1px solid #e0e0e0;}

.bold {font-weight: 500;}